body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 50%, rgba(255,255,255,1) 100%);
}

main {
    font-size: 25px;
    font-weight: bold;

}

.intro{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 50px;
    line-height: 50px;

    
}

section {
    width: 80%;
    margin: auto;

}
span {
    color: #d59a17; // on blur #474126
}
#text, #confidence, #agreement{
    font-size: 18px;
}